<div class="bg-light min-vh-100 flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm  [formGroup]="formGroup">
              <h1>Cập nhật bài viết</h1>
              <!-- <p class="text-medium-emphasis">Create your account</p> -->
              <c-input-group class="mb-3">
                <input autoComplete="post_name" formControlName="post_name" cFormControl placeholder="Tiêu đề" />
              </c-input-group>
              <c-input-group class="mb-3">
                <textarea class="contents" autoComplete="contents" formControlName="contents" cFormControl placeholder="Nội dung..." ></textarea>
              </c-input-group>


              <div class="d-grid">
                <button cButton color="success" (click)="updatePost()">Cập nhật</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>

