<c-row *ngIf="!isAdmin">

  <mat-form-field class="example-form-field">
    <input matInput  type="text" placeholder="試験名。。。" [(ngModel)]="term" />
    <button mat-icon-button matPrefix type="submit" (click)="searchByTerm()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
    <table class="table table-striped">
      <thead>
        <tr>
          <th  >#</th>
          <th  >試験名</th>
          <th  >ノート</th>
          <th  >問題数</th>
          <th  >タイプ</th>
          <th  >スタート</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let exam of listExamPublic | paginate : {
          itemsPerPage: pageSize,
          currentPage: page,
          totalItems: count
          };  let i = index;">
          <td>{{i+1}}</td>
          <td>{{exam?.exam_name}}</td>
          <td>{{exam?.note}}</td>
          <td>{{exam?.questionTotal}}</td>
          <td *ngIf="exam?.type == 'normal'">Trắc nghiêm 4 đáp án</td>
          <td *ngIf="exam?.type == 'fillword'">Điền từ</td>

          <td style="text-align:left">
            <button cButton  (click)="startExam(exam.id, exam.exam_name, exam.type)" color="primary" variant="outline">
              <svg cIcon name="cilArrowRight"></svg>
            </button>
          </td>

        </tr>
      </tbody>
  </table>
  <div class="col-md-12">
    <pagination-controls previousLabel="{{'PREV' }}" nextLabel="{{'NEXT'}}" [responsive]="true"
        (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>

</c-row>

