<div style="padding-top:100px" class="t">
  <h2  > Danh sách đề thi</h2>
  <div class="dau">
  <div class="co1">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="{{'Tìm kiếm '}}" [(ngModel)]="term" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchByTerm()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button style="margin-left: 10px !important; margin-bottom: 10px !important;" class="btn btn-primary">
        <a routerLink="/exam-create" routerLinkActive="active" class="nav-link">Thêm mới bài thi</a>
      </button>
    </div>
  </div>
</div>
<div class="ten">
  <table class="table table-striped">
    <thead>
      <tr>
        <th  >STT</th>
        <th  >Tên bài thi</th>
        <th  >Chú thích</th>
        <th  >Số lượng câu hỏi</th>
        <th  >Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let exam of listExam | paginate : {
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: count
        };  let i = index;">
        <td>{{i+1}}</td>
        <td>{{exam?.exam_name}}</td>
        <td>{{exam?.note}}</td>
        <td>{{exam?.countQuestion}}</td>
        <td *ngIf="exam?.active == true"> UNAVAILABLE</td>
        <td *ngIf="exam?.active == false"> AVAILABLE</td>


        <td style="text-align:center">
          <button (click)="viewExam(exam.id)" class="btn btn-dark">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
        <td style="text-align:center">
          <button (click)="updateExam(exam.id)" class="btn btn-info">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td style="text-align:center">
          <button (click)="deleteExam(exam.id)" class="btn btn-danger">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
</table>
<div class="col-md-12">
  <pagination-controls previousLabel="{{'PREV' }}" nextLabel="{{'NEXT'}}" [responsive]="true"
      (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>
</div>
