<div class="col-md-8 offset-md-3">
  <h2>Thêm mới câu hỏi</h2>
  <mat-card >
    <mat-card-content>
      <div class="text-center">
        <input class="form-control" type="file" (change)="onChange($event)" />
        <br />
        <button (click)="onUpload()" class="btn btn-success">Lưu vào cơ sở dữ liệu</button>
      </div>
      <div *ngIf="message">{{message}}</div>
    </mat-card-content>
  </mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form" >
      <div class="row" style="padding: 10px;">
      <div class="col-12">
        <mat-form-field class="form-element" style="width: 70%;">
          <input type="text" matInput placeholder="{{'Câu hỏi' }}" formControlName="question" id="question"
            [(ngModel)]="question.question" name="question">
          <mat-error *ngIf="!formGroup.controls['question'].valid && formGroup.controls['question'].touched">
            <span>Đây là trường bắt buộc</span>
          </mat-error>
        </mat-form-field>
      </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field class="form-element" style="width:  70%;">
          <input type="text" matInput placeholder="{{'ans_A'}}" formControlName="ans_A" id="ans_A"
            [(ngModel)]="question.ans_A" name="ans_A">
          <mat-error *ngIf="!formGroup.controls['ans_A'].valid && formGroup.controls['ans_A'].touched">
            <span>Đây là trường bắt buộc</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="form-element" style="width:  70%;">
          <input type="text" matInput placeholder="{{'ans_B'}}" formControlName="ans_B" id="ans_B"
            [(ngModel)]="question.ans_B" name="ans_B">
          <mat-error *ngIf="!formGroup.controls['ans_B'].valid && formGroup.controls['ans_B'].touched">
            <span>Đây là trường bắt buộc</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="form-element" style="width: 70%;">
          <input type="text" matInput placeholder="{{'ans_C'}}" formControlName="ans_C" id="ans_C"
            [(ngModel)]="question.ans_C" name="ans_C">
            <mat-error *ngIf="!formGroup.controls['ans_C'].valid && formGroup.controls['ans_C'].touched">
              <span>Đây là trường bắt buộc</span>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="form-element" style="width: 70%;">
          <input type="text" matInput placeholder="{{'ans_D'}}" formControlName="ans_D" id="ans_D"
            [(ngModel)]="question.ans_D" name="ans_D">
            <mat-error *ngIf="!formGroup.controls['ans_D'].valid && formGroup.controls['ans_D'].touched">
              <span>Đây là trường bắt buộc</span>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="form-element" style="width: 70%;">
          <input type="text" matInput placeholder="{{'ans_Correct'}}" formControlName="ans_Correct" id="ans_Correct"
            [(ngModel)]="question.ans_Correct" name="ans_Correct">
            <mat-error *ngIf="!formGroup.controls['ans_Correct'].valid && formGroup.controls['ans_Correct'].touched">
              <span>Đây là trường bắt buộc</span>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="form-element" style="width: 70%;">
          <input type="text" matInput placeholder="{{'note'}}" formControlName="note" id="note"
            [(ngModel)]="question.note" name="note">
            <mat-error *ngIf="!formGroup.controls['note'].valid && formGroup.controls['note'].touched">
              <span>Đây là trường bắt buộc</span>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <button class="btn btn-success" type="submit">Thêm mới </button>
    </div>
  </form>
</div>
