<div>
<table cTable hover class="table table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col" style="min-width: 100px;">Tác giả</th>
    <th scope="col">Tiêu đề</th>
    <th scope="col" class="contents">Nội dung</th>
    <th scope="col" style="min-width: 150px;">Trạng thái</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let post of listPosts | paginate : {
      itemsPerPage: pageSize,
      currentPage: page,
      totalItems: count
      };  let i = index;">
      <td >{{i+1}}</td>
      <td>{{post.user.username}}</td>
      <td>{{post.post_name}}</td>
      <td>{{ post.contents | slice:0:150 }}{{ post.contents.length > 150 ? '...' : ''}}</td>
      <td *ngIf="post?.active == true">Công khai</td>
      <td *ngIf="post?.active == false">Đang chỉnh sửa</td>

      <td style="text-align:center">
        <button cButton  (click)="updatePost(post.id)" color="primary" variant="outline">
          <svg cIcon name="cilPencil"></svg>
        </button>
      </td>
      <td style="text-align:center">
        <button cButton (click)="deletePost(post.id)" color="danger" variant="outline">
          <svg cIcon name="cilTrash"></svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="col-md-12">
  <pagination-controls previousLabel="{{'PREV' }}" nextLabel="{{'NEXT'}}" [responsive]="true"
      (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>

