<div class="container-fluid dashboard" *ngIf="!isSubmit">
  <div class="row">
    <div class="col-lg-2 col-sm-12 mt-5">
      <mat-card>
        <h2 class="text-center">Instructions</h2>
        <ul>
          <li>Do not refresh the page</li>
          <li>You can not go back</li>
          <li>Careful of the time</li>
        </ul>
      </mat-card>
    </div>
    <div class="col-lg-8 col-sm-12 mt-1">
      <h1 class="title">Tieu Quiz</h1>
      <mat-card *ngFor="let ques of questions; let i = index" class="mb-2">
        <mat-card-content>
          <p>
            <b>{{ i + 1 }} </b>
            <span class="d-inline-block" [innerHTML]="ques.question"></span>
          </p>

          <mat-divider></mat-divider>
          <br />
          <div class="row">
            <div class="col-md-6">
              <p>
                <input
                  type="radio"
                  [value]="ques.ans_A"
                  [(ngModel)]="ques.givenAnswer"
                  name="{{ i }}"
                />
                {{ ques.ans_A }}
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <input
                  type="radio"
                  [value]="ques.ans_B"
                  [(ngModel)]="ques.givenAnswer"
                  name="{{ i }}"
                />
                {{ ques.ans_B }}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <p>
                <input
                  type="radio"
                  [value]="ques.ans_C"
                  [(ngModel)]="ques.givenAnswer"
                  name="{{ i }}"
                />
                {{ ques.ans_C }}
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <input
                  type="radio"
                  [value]="ques.ans_D"
                  [(ngModel)]="ques.givenAnswer"
                  name="{{ i }}"
                />
                {{ ques.ans_D }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <button
        mat-raised-button
        color="primary"
        class="my-3 full-width"
        (click)="submitQuiz()"
      >
        Submit
      </button>
    </div>
    <div class="col-lg-2 col-sm-12 mt-5 text-center">
      <mat-card>
        <mat-card-title>Progress</mat-card-title>
        <mat-card-subtitle
          >Quiz will be submitted automatically after the time has
          finished</mat-card-subtitle
        >

        <mat-card-content>
          <h1>{{ getFormattedTime() }}</h1>
          <mat-spinner
            class="mx-auto"
            mode="determinate"
            [value]="(value / 300) * 100"
          >
          </mat-spinner>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container text-center mt-4" *ngIf="isSubmit">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card>
        <div class="mat-headline">Kết quả</div>
        <mat-card-content class="mt-4">
          <h2>Số câu trả lời đúng :{{ correctAnswer }}</h2>
          <h2>Bạn đã trả lời {{ attempted }}/{{questions.length}}</h2>
        </mat-card-content>
        <div class="container mt-3">
          <button mat-raised-button color="warn"  (click)="toHome()">
            Home
          </button>
        </div>
      </mat-card>
    </div>
    <mat-card>
      <mat-card-content>
        Đáp án và giải thích
        <table mat-table [dataSource]="this.questions" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Question Column -->
          <ng-container matColumnDef="question">
            <th mat-header-cell *matHeaderCellDef> Câu hỏi </th>
            <td mat-cell *matCellDef="let element"> {{element.question}} </td>
          </ng-container>

          <!-- Ans_A Column -->
          <ng-container matColumnDef="ans_A">
            <th mat-header-cell *matHeaderCellDef> Đáp án A </th>
            <td mat-cell *matCellDef="let element"> {{element.ans_A}} </td>
          </ng-container>

          <!-- Ans_B Column -->
          <ng-container matColumnDef="ans_B">
            <th mat-header-cell *matHeaderCellDef> Đáp án B </th>
            <td mat-cell *matCellDef="let element"> {{element.ans_B}} </td>
          </ng-container>

          <!-- Ans_C Column -->
          <ng-container matColumnDef="ans_C">
            <th mat-header-cell *matHeaderCellDef> Đáp án C </th>
            <td mat-cell *matCellDef="let element"> {{element.ans_C}} </td>
          </ng-container>
           <!-- Ans_D Column -->
           <ng-container matColumnDef="ans_D">
            <th mat-header-cell *matHeaderCellDef> Đáp án D</th>
            <td mat-cell *matCellDef="let element"> {{element.ans_D}} </td>
          </ng-container>
           <!-- Ans_Correct Column -->
           <ng-container matColumnDef="ans_Correct">
            <th mat-header-cell *matHeaderCellDef> Đáp án đúng </th>
            <td mat-cell *matCellDef="let element"> {{element.ans_Correct}} </td>
          </ng-container>
           <!-- note Column -->
           <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> chú thích </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
