<div class="login-container" >

		<mat-card>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxFlex="100%">
            <mat-form-field appearance="outline" class="form-field">
              <mat-icon matPrefix>person_outline</mat-icon>
              <input matInput formControlName="username" name="username"  placeholder="ユーザー名 *">
              <mat-error *ngIf="f.username.errors?.required">これは必要項目です</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100%">
            <mat-form-field appearance="outline" class="form-field">
              <mat-icon matPrefix>email</mat-icon>
              <input matInput formControlName="email" placeholder="メール *" name="email">
              <mat-error *ngIf="f.username.errors?.required">これは必要項目です </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100%">
            <mat-form-field appearance="outline" class="form-field">
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input matInput formControlName="password" name="password" placeholder="パスワード *" type="password">
              <mat-error *ngIf="f.username.errors?.required">これは必要項目です.パスワードのサイズは６から４０の間になければなりません</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100%">
            <mat-form-field appearance="outline" class="form-field">
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input matInput formControlName="confirmPassword" name="confirmPassword" placeholder="パスワード *" type="password">
              <mat-error *ngIf="f.username.errors?.required">これは必要項目です。パスワードのサイズは６から４０の間になければなりません</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100%" >
              <button mat-stroked-button style="margin: 10px;" color="primary" type="submit" [disabled]="!formGroup.valid">Register</button>
          </div>
        </div>
      </form>

</mat-card>

</div>
