<div class="bg-light min-vh-100 flex-row align-items-center">

      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">Dạng đề</h2>

          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="normal">Trắc nghiệm 4 đáp án</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="fillword">Dạng điền từ</mat-checkbox>
          </section>
        </mat-card-content>
        <mat-card-content>

            <input  type="file"  (change)="onChange($event)">
            <button matSuffix mat-icon-button (click)="onUpload()">
              <mat-icon>cloud_upload</mat-icon>
            </button>


        </mat-card-content>
      </mat-card>
</div>

